@import url('https://fonts.googleapis.com/css?family=Alegreya|Amatic+SC|Courgette|Permanent+Marker|Sedgwick+Ave" rel="stylesheet');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

input, button, select, option {
  font-family: inherit;
}

.App {
  text-align: center;
}
                               
                                 /* Entrance page: */
.EntrancePageImg {
  background-image: url('./images/img3.jpg');
  background-size: cover;
  width: 100vw;
  height: 100vh;
  position: relative;
}

.triangleImg, .EntrBtnStyle {
  position: absolute;
  top: 77%;
  left: 65%;
  width: 200px;
  height: 150px;
  animation: moveScale 3s infinite alternate;
}

.triangleImg {
  z-index: 1;
  pointer-events: none;
  animation-delay: -.2s;
}

.EntrBtnStyle { 
  /* used site https://bennettfeely.com/clippy/ for this feature */
  -webkit-clip-path: polygon(61% 96%, 5% 24%, 90% 8%);
  clip-path: polygon(61% 96%, 5% 24%, 90% 8%);
  cursor: pointer;
}

.EntrBtnStyle > span {
  position: absolute;
  top: 20%;
  left: 24%;
  font-size: 30px;
  font-weight: bold;
  font-family: 'Permanent Marker', cursive;
  pointer-events: none;
  transform: rotate(-5deg);
}

@keyframes moveScale {
  0% {
  transform: scale(1.0) rotate(3deg);
}
  100% {
    transform: scale(1.5) rotate(3deg);
  }
}

                             /* Landing page: */
.LandingImg {
  background-image: url('./images/img2.jpg');
  background-size: cover;
  background-position: center;
  width: 100vw;
  height: 100vh;
}

                           /* Animation - Appearing from the left: */
.AnimationDiv {
  top: 200px;
  width: 80%;
  opacity: 0.8;
  background: black;
  color: white;
  font-size: 30px;
  font-family: 'Alegreya', serif;
  animation: leftRight 3s;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

@keyframes leftRight {
	0%{
    left: -600px;
  }
  100% {
    left: 50%;
  }
}
                                 /* NavBar: */
.NavBarStyle {
  display: flex;
  justify-content: center;
  align-items: stretch;
  width: 100vw;
  position: fixed;
  background: white;
  opacity: 0.9;
}

.NavBtnStyle {
  width: 150px;
  padding: ;
  background: black;
  color: white;
  font-size: 20px;
  cursor: pointer;
}

                                  /* Images category: */
.ImgListStyle {
 /* border: solid red; */
}

.BtnImgDivStyle {
  padding-top: 110px;
  padding-bottom: 20px;
  text-align: center;
  /* border: solid red; */
}

.ImgBtnStyle {
  width: 150px;
  height: 60px;
  background: white;
  color: black;
  font-size: 30px;
  font-family: 'Permanent Marker', cursive;
  border-radius: 12px;
  cursor: pointer;
  font-weight: 500;
  margin-left: 10px;
}
                                /* Scaling animation for images */
.ImagesStyle {
  width: 500px;
  transition: all 1s ease-in-out;
}

.ImagesStyle:hover {
  transform: scale(1.2);
}

                                /* Videos category: */
.VideosListStyle {
  padding-top: 120px;
  display: flex;
  flex-wrap: wrap;
  font-size: 17px;
  font-weight: none;
  font-family: 'Permanent Marker', cursive;
  /* border: solid green; */
}

.VideosStyle {
  width: 600px;
  height: 427px;
  frameborder: 0;
  /* border: solid red; */
}

.allVideos {
  /* border: solid blue; */
  display: flex;
  flex: 2;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 10px;
}

.allVideos > h2 {
  width: 600px;
  height: 70px;
}

                                /* Gallery category: */
.GalleryListStyle {
  padding-top: 120px;
  /* border: solid green; */
}

.SelectStyle {
  width: 300px;
  height: 50px;
  font-size: 20px;
  align-self: center;
  font-family: 'Permanent Marker', cursive;
  /* border: solid red; */
}

.OptionStyle {
  font-size: 20px;
  font-family: 'Permanent Marker', cursive;
}

.GalleryStyle {
  font-size: 25px;
  font-family: 'Alegreya', serif;
  padding: 0 20px;
  /* border: solid blue; */
}
.GalleryStyle ul {
    list-style: none;
  display: flex;
  flex-direction: column;
  text-align: left;
}

.GallItemsCentered {
  text-align: center;
}
                           
                            /* Classification category: */
.ClassifListStyle {
  padding-top: 110px;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* border: solid blue; */
}

.ClassifStyle {
  /* border: solid red; */
  font-size: 25px;
  font-family: 'Alegreya', serif;
}

.SearchBarStyle {
  /* border: solid green; */
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-bottom: 10px;
  font-family: 'Permanent Marker', cursive;
}

.SearchItemsClassif {
  width: 340px;
  height: 50px;
  border-radius: 12px;
  margin-top: 10px;
  font-size: 25px;
}

                           /* Addresses category: */
.AddressListStyle {
  padding-top: 120px;
  display: flex;
  justify-content: space-around;
  font-size: 20px;
  /* border: solid green; */
}

.AddressUlStyle {
  list-style: none;
  /* border: solid red; */
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-left: 40px;
  font-size: 25px;
  font-family: 'Alegreya', serif;
}

.AddressImagesStyle {
  display: flex;
  justify-content: space-around;
  /* border: solid blue; */
}

.AddressesLabel {
  font-weight: bold;
  font-size: 25px;
  font-family: 'Permanent Marker', cursive;
}
    /* Morth - round effect on hover for images */
.addressImg {
  margin-top: 30px;
  width: 490px;
  height: 370px;
  cursor: pointer;
  border: solid white;
  transition: all 0.5s ease;
  flex: 1;
}

.addressImg:hover {
  border-radius: 50%;
}

                              /* NewForm page */
h3 {
  padding-top: 250px;
  font-size: 30px;
  font-family: 'Alegreya', serif;
}
.newFormDivStyle {
  padding-top: 110px;
}

.newFormStyle {
  display: flex;
  flex-direction: column;
  width: 290px;
  height: 70px;
  margin: 0 auto;
  border-radius: 12px;
  margin-top: 10px;
  font-size: 25px;
}

.newFormBtnStyle {
  width: 290px;
  height: 70px;
  margin: 0 auto;
  font-size: 25px;
}

.formBorderStyle {
  margin-top: 20px;
  width: 250px;
  height: 200px;
  border: solid 3px black;
  border-opacity: 0.7;
  font-family: 'Permanent Marker', cursive;
  font-size: 20px;
  border-radius: 12px;
}

.mainDivForm  > p {
  border-bottom: 5px;
}

.mainDivForm {
  display: flex;
  justify-content: space-around;
}

                                /*---Media Queries --*/
/* Medium (md) devices (tablets, 768px and up) */
@media screen and (max-width: 768px) {

}

/* Small (sm) devices (landscape phones, 576px and up) */
@media(max-width: 576px) {
  .triangleImg, .EntrBtnStyle {
    left: 0;
  }

  .AnimationDiv {
    font-size: 20px;
  }

  .EntrancePageImg {
    width: 100%;
    /* height: auto; */
  }

  .LandingImg {
    width: 100%;
  }

  .NavBarStyle {
    flex-wrap: wrap;
  }

  .BtnImgDivStyle {
    padding-top: 140px;
  }

  .ImagesStyle {
    width: 100%;
  }

  .VideosStyle {
    width: 100%;
    height: auto;
  }
  
  .VideosListStyle {
    flex-direction: column;
  }

  .allVideos > h2 {
    width: 100%;
    font-size: 15px;
  }

  .allVideos > h2:first-child {
    padding-top: 20px;
  }

  .AddressUlStyle {
    flex-direction: column;
  }

  .AddressUlStyle > li {
    width: 100%;
  }

  .AddressImagesStyle {
    flex-wrap: wrap;
  }

  .AddressListStyle {
    flex-direction: column;
  }

  .addressImg {
    width: 100%;
  }

}
